
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>10. 标准库概览 — Python v3.4.1 中文文档</title>
<link href="../_static/pydoctheme.css" rel="stylesheet" type="text/css"/>
<link href="../_static/pygments.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '3.4.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
<script src="../_static/jquery.js" type="text/javascript"></script>
<script src="../_static/underscore.js" type="text/javascript"></script>
<script src="../_static/doctools.js" type="text/javascript"></script>
<script src="../_static/sidebar.js" type="text/javascript"></script>
<link href="../_static/opensearch.xml" rel="search" title="Search within Python v3.4.1 documentation" type="application/opensearchdescription+xml"/>
<link href="../about.html" rel="author" title="About these documents"/>
<link href="../copyright.html" rel="copyright" title="Copyright"/>
<link href="../index.html" rel="top" title="Python v3.4.1 documentation"/>
<link href="index.html" rel="up" title="The Python Tutorial"/>
<link href="stdlib2.html" rel="next" title="11. Brief Tour of the Standard Library – Part II"/>
<link href="classes.html" rel="prev" title="9. Classes"/>
<link href="../_static/py.png" rel="shortcut icon" type="image/png"/>
<script src="../_static/copybutton.js" type="text/javascript"></script>
<script src="../_static/version_switch.js" type="text/javascript"></script>
</head>
<body>
<div class="related">
<h3><font id="56">{{s.56}}</font></h3>
<ul>
<li class="right" style="margin-right: 10px"><font id="63">{{s.63}}</font></li>
<li class="right"><font id="64">{{s.64}}</font></li>
<li class="right"><font id="65">{{s.65}}</font></li>
<li class="right"><font id="66">{{s.66}}</font></li>
<li><font id="67">{{s.67}}</font></li>
<li><font id="68">{{s.68}}</font><font id="69">{{s.69}}</font></li>
<li><font id="70">{{s.70}}</font><font id="71">{{s.71}}</font></li>
<li><font id="72">{{s.72}}</font><font id="73">{{s.73}}</font></li>
</ul>
</div>
<div class="document">
<div class="documentwrapper">
<div class="bodywrapper">
<div class="body">
<div class="section" id="brief-tour-of-the-standard-library">
<span id="tut-brieftour"></span><h1><font id="43">{{s.43}}</font></h1>
<div class="section" id="operating-system-interface">
<span id="tut-os-interface"></span><h2><font id="44">{{s.44}}</font></h2>
<p><font id="1">{{s.1}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">os</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">os</span><span class="o">.</span><span class="n">getcwd</span><span class="p">()</span>      <span class="c"># Return the current working directory</span>
<span class="go">'C:\\Python34'</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">os</span><span class="o">.</span><span class="n">chdir</span><span class="p">(</span><span class="s">'/server/accesslogs'</span><span class="p">)</span>   <span class="c"># Change current working directory</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">os</span><span class="o">.</span><span class="n">system</span><span class="p">(</span><span class="s">'mkdir today'</span><span class="p">)</span>   <span class="c"># Run the command mkdir in the system shell</span>
<span class="go">0</span>
</pre></div>
</div>
<p><font id="2">{{s.2}}</font><font id="3">{{s.3}}</font></p>
<p id="index-0"><font id="4">{{s.4}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">os</span>
<span class="gp">&gt;&gt;&gt; </span><span class="nb">dir</span><span class="p">(</span><span class="n">os</span><span class="p">)</span>
<span class="go">&lt;returns a list of all module functions&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">help</span><span class="p">(</span><span class="n">os</span><span class="p">)</span>
<span class="go">&lt;returns an extensive manual page created from the module's docstrings&gt;</span>
</pre></div>
</div>
<p><font id="5">{{s.5}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">shutil</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">shutil</span><span class="o">.</span><span class="n">copyfile</span><span class="p">(</span><span class="s">&#39;data.db&#39;</span><span class="p">,</span> <span class="s">&#39;archive.db&#39;</span><span class="p">)</span>
<span class="go">&#39;archive.db&#39;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">shutil</span><span class="o">.</span><span class="n">move</span><span class="p">(</span><span class="s">&#39;/build/executables&#39;</span><span class="p">,</span> <span class="s">&#39;installdir&#39;</span><span class="p">)</span>
<span class="go">&#39;installdir&#39;</span>
</pre></div>
</div>
</div>
<div class="section" id="file-wildcards">
<span id="tut-file-wildcards"></span><h2><font id="45">{{s.45}}</font></h2>
<p><font id="6">{{s.6}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">glob</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">glob</span><span class="o">.</span><span class="n">glob</span><span class="p">(</span><span class="s">'*.py'</span><span class="p">)</span>
<span class="go">['primes.py', 'random.py', 'quote.py']</span>
</pre></div>
</div>
</div>
<div class="section" id="command-line-arguments">
<span id="tut-command-line-arguments"></span><h2><font id="46">{{s.46}}</font></h2>
<p><font id="7">{{s.7}}</font><font id="8">{{s.8}}</font><font id="9">{{s.9}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">sys</span>
<span class="gp">&gt;&gt;&gt; </span><span class="nb">print</span><span class="p">(</span><span class="n">sys</span><span class="o">.</span><span class="n">argv</span><span class="p">)</span>
<span class="go">[&#39;demo.py&#39;, &#39;one&#39;, &#39;two&#39;, &#39;three&#39;]</span>
</pre></div>
</div>
<p><font id="10">{{s.10}}</font><font id="11">{{s.11}}</font></p>
</div>
<div class="section" id="error-output-redirection-and-program-termination">
<span id="tut-stderr"></span><h2><font id="47">{{s.47}}</font></h2>
<p><font id="12">{{s.12}}</font><font id="13">{{s.13}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">sys</span><span class="o">.</span><span class="n">stderr</span><span class="o">.</span><span class="n">write</span><span class="p">(</span><span class="s">'Warning, log file not found starting a new one</span><span class="se">\n</span><span class="s">'</span><span class="p">)</span>
<span class="go">Warning, log file not found starting a new one</span>
</pre></div>
</div>
<p><font id="14">{{s.14}}</font></p>
</div>
<div class="section" id="string-pattern-matching">
<span id="tut-string-pattern-matching"></span><h2><font id="48">{{s.48}}</font></h2>
<p><font id="15">{{s.15}}</font><font id="16">{{s.16}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">re</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">re</span><span class="o">.</span><span class="n">findall</span><span class="p">(</span><span class="s">r'\bf[a-z]*'</span><span class="p">,</span> <span class="s">'which foot or hand fell fastest'</span><span class="p">)</span>
<span class="go">['foot', 'fell', 'fastest']</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">re</span><span class="o">.</span><span class="n">sub</span><span class="p">(</span><span class="s">r'(\b[a-z]+) \1'</span><span class="p">,</span> <span class="s">r'\1'</span><span class="p">,</span> <span class="s">'cat in the the hat'</span><span class="p">)</span>
<span class="go">'cat in the hat'</span>
</pre></div>
</div>
<p><font id="17">{{s.17}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="s">'tea for too'</span><span class="o">.</span><span class="n">replace</span><span class="p">(</span><span class="s">'too'</span><span class="p">,</span> <span class="s">'two'</span><span class="p">)</span>
<span class="go">'tea for two'</span>
</pre></div>
</div>
</div>
<div class="section" id="mathematics">
<span id="tut-mathematics"></span><h2><font id="49">{{s.49}}</font></h2>
<p><font id="18">{{s.18}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">math</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">math</span><span class="o">.</span><span class="n">cos</span><span class="p">(</span><span class="n">math</span><span class="o">.</span><span class="n">pi</span> <span class="o">/</span> <span class="mf">4.0</span><span class="p">)</span>
<span class="go">0.70710678118654757</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">math</span><span class="o">.</span><span class="n">log</span><span class="p">(</span><span class="mi">1024</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
<span class="go">10.0</span>
</pre></div>
</div>
<p><font id="19">{{s.19}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">random</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">random</span><span class="o">.</span><span class="n">choice</span><span class="p">([</span><span class="s">'apple'</span><span class="p">,</span> <span class="s">'pear'</span><span class="p">,</span> <span class="s">'banana'</span><span class="p">])</span>
<span class="go">'apple'</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">random</span><span class="o">.</span><span class="n">sample</span><span class="p">(</span><span class="nb">range</span><span class="p">(</span><span class="mi">100</span><span class="p">),</span> <span class="mi">10</span><span class="p">)</span>   <span class="c"># sampling without replacement</span>
<span class="go">[30, 83, 16, 4, 8, 81, 41, 50, 18, 33]</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">random</span><span class="o">.</span><span class="n">random</span><span class="p">()</span>    <span class="c"># random float</span>
<span class="go">0.17970987693706186</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">random</span><span class="o">.</span><span class="n">randrange</span><span class="p">(</span><span class="mi">6</span><span class="p">)</span>    <span class="c"># random integer chosen from range(6)</span>
<span class="go">4</span>
</pre></div>
</div>
<p><font id="108">{{s.108}}</font></p>
</div>
<div class="section" id="internet-access">
<span id="tut-internet-access"></span><h2><font id="50">{{s.50}}</font></h2>
<p><font id="20">{{s.20}}</font><font id="21">{{s.21}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">urllib.request</span> <span class="k">import</span> <span class="n">urlopen</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">for</span> <span class="n">line</span> <span class="ow">in</span> <span class="n">urlopen</span><span class="p">(</span><span class="s">&#39;http://tycho.usno.navy.mil/cgi-bin/timer.pl&#39;</span><span class="p">):</span>
<span class="gp">... </span>    <span class="n">line</span> <span class="o">=</span> <span class="n">line</span><span class="o">.</span><span class="n">decode</span><span class="p">(</span><span class="s">&#39;utf-8&#39;</span><span class="p">)</span>  <span class="c"># Decoding the binary data to text.</span>
<span class="gp">... </span>    <span class="k">if</span> <span class="s">&#39;EST&#39;</span> <span class="ow">in</span> <span class="n">line</span> <span class="ow">or</span> <span class="s">&#39;EDT&#39;</span> <span class="ow">in</span> <span class="n">line</span><span class="p">:</span>  <span class="c"># look for Eastern Time</span>
<span class="gp">... </span>        <span class="nb">print</span><span class="p">(</span><span class="n">line</span><span class="p">)</span>

<span class="go">&lt;BR&gt;Nov. 25, 09:43:32 PM EST</span>

<span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">smtplib</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">server</span> <span class="o">=</span> <span class="n">smtplib</span><span class="o">.</span><span class="n">SMTP</span><span class="p">(</span><span class="s">&#39;localhost&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">server</span><span class="o">.</span><span class="n">sendmail</span><span class="p">(</span><span class="s">&#39;soothsayer@example.org&#39;</span><span class="p">,</span> <span class="s">&#39;jcaesar@example.org&#39;</span><span class="p">,</span>
<span class="gp">... </span><span class="sd">&quot;&quot;&quot;To: jcaesar@example.org</span>
<span class="gp">... </span><span class="sd">From: soothsayer@example.org</span>
<span class="gp">...</span><span class="sd"></span>
<span class="gp">... </span><span class="sd">Beware the Ides of March.</span>
<span class="gp">... </span><span class="sd">&quot;&quot;&quot;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">server</span><span class="o">.</span><span class="n">quit</span><span class="p">()</span>
</pre></div>
</div>
<p><font id="22">{{s.22}}</font></p>
</div>
<div class="section" id="dates-and-times">
<span id="tut-dates-and-times"></span><h2><font id="51">{{s.51}}</font></h2>
<p><font id="23">{{s.23}}</font><font id="24">{{s.24}}</font><font id="25">{{s.25}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="c"># dates are easily constructed and formatted</span>
<span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">datetime</span> <span class="k">import</span> <span class="n">date</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">now</span> <span class="o">=</span> <span class="n">date</span><span class="o">.</span><span class="n">today</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">now</span>
<span class="go">datetime.date(2003, 12, 2)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">now</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s">&quot;%m-%d-%y. %d %b %Y is a %A on the %d day of %B.&quot;</span><span class="p">)</span>
<span class="go">&#39;12-02-03. 02 Dec 2003 is a Tuesday on the 02 day of December.&#39;</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># dates support calendar arithmetic</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">birthday</span> <span class="o">=</span> <span class="n">date</span><span class="p">(</span><span class="mi">1964</span><span class="p">,</span> <span class="mi">7</span><span class="p">,</span> <span class="mi">31</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">age</span> <span class="o">=</span> <span class="n">now</span> <span class="o">-</span> <span class="n">birthday</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">age</span><span class="o">.</span><span class="n">days</span>
<span class="go">14368</span>
</pre></div>
</div>
</div>
<div class="section" id="data-compression">
<span id="tut-data-compression"></span><h2><font id="52">{{s.52}}</font></h2>
<p><font id="26">{{s.26}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">zlib</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">s</span> <span class="o">=</span> <span class="n">b</span><span class="s">'witch which has which witches wrist watch'</span>
<span class="gp">&gt;&gt;&gt; </span><span class="nb">len</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>
<span class="go">41</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">t</span> <span class="o">=</span> <span class="n">zlib</span><span class="o">.</span><span class="n">compress</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="nb">len</span><span class="p">(</span><span class="n">t</span><span class="p">)</span>
<span class="go">37</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">zlib</span><span class="o">.</span><span class="n">decompress</span><span class="p">(</span><span class="n">t</span><span class="p">)</span>
<span class="go">b&#39;witch which has which witches wrist watch&#39;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">zlib</span><span class="o">.</span><span class="n">crc32</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>
<span class="go">226805979</span>
</pre></div>
</div>
</div>
<div class="section" id="performance-measurement">
<span id="tut-performance-measurement"></span><h2><font id="53">{{s.53}}</font></h2>
<p><font id="27">{{s.27}}</font><font id="28">{{s.28}}</font></p>
<p><font id="29">{{s.29}}</font><font id="30">{{s.30}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">timeit</span> <span class="k">import</span> <span class="n">Timer</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">Timer</span><span class="p">(</span><span class="s">'t=a; a=b; b=t'</span><span class="p">,</span> <span class="s">'a=1; b=2'</span><span class="p">)</span><span class="o">.</span><span class="n">timeit</span><span class="p">()</span>
<span class="go">0.57535828626024577</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">Timer</span><span class="p">(</span><span class="s">'a,b = b,a'</span><span class="p">,</span> <span class="s">'a=1; b=2'</span><span class="p">)</span><span class="o">.</span><span class="n">timeit</span><span class="p">()</span>
<span class="go">0.54962537085770791</span>
</pre></div>
</div>
<p><font id="31">{{s.31}}</font></p>
</div>
<div class="section" id="quality-control">
<span id="tut-quality-control"></span><h2><font id="54">{{s.54}}</font></h2>
<p><font id="32">{{s.32}}</font></p>
<p><font id="33">{{s.33}}</font><font id="34">{{s.34}}</font><font id="35">{{s.35}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="k">def</span> <span class="nf">average</span><span class="p">(</span><span class="n">values</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Computes the arithmetic mean of a list of numbers.</span>

<span class="sd">    &gt;&gt;&gt; print(average([20, 30, 70]))</span>
<span class="sd">    40.0</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="k">return</span> <span class="nb">sum</span><span class="p">(</span><span class="n">values</span><span class="p">)</span> <span class="o">/</span> <span class="nb">len</span><span class="p">(</span><span class="n">values</span><span class="p">)</span>

<span class="kn">import</span> <span class="nn">doctest</span>
<span class="n">doctest</span><span class="o">.</span><span class="n">testmod</span><span class="p">()</span>   <span class="c"># automatically validate the embedded tests</span>
</pre></div>
</div>
<p><font id="36">{{s.36}}</font></p>
<div class="highlight-python3"><div class="highlight"><pre><span class="kn">import</span> <span class="nn">unittest</span>

<span class="k">class</span> <span class="nc">TestStatisticalFunctions</span><span class="p">(</span><span class="n">unittest</span><span class="o">.</span><span class="n">TestCase</span><span class="p">):</span>

    <span class="k">def</span> <span class="nf">test_average</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">assertEqual</span><span class="p">(</span><span class="n">average</span><span class="p">([</span><span class="mi">20</span><span class="p">,</span> <span class="mi">30</span><span class="p">,</span> <span class="mi">70</span><span class="p">]),</span> <span class="mf">40.0</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">assertEqual</span><span class="p">(</span><span class="nb">round</span><span class="p">(</span><span class="n">average</span><span class="p">([</span><span class="mi">1</span><span class="p">,</span> <span class="mi">5</span><span class="p">,</span> <span class="mi">7</span><span class="p">]),</span> <span class="mi">1</span><span class="p">),</span> <span class="mf">4.3</span><span class="p">)</span>
        <span class="k">with</span> <span class="bp">self</span><span class="o">.</span><span class="n">assertRaises</span><span class="p">(</span><span class="ne">ZeroDivisionError</span><span class="p">):</span>
            <span class="n">average</span><span class="p">([])</span>
        <span class="k">with</span> <span class="bp">self</span><span class="o">.</span><span class="n">assertRaises</span><span class="p">(</span><span class="ne">TypeError</span><span class="p">):</span>
            <span class="n">average</span><span class="p">(</span><span class="mi">20</span><span class="p">,</span> <span class="mi">30</span><span class="p">,</span> <span class="mi">70</span><span class="p">)</span>

<span class="n">unittest</span><span class="o">.</span><span class="n">main</span><span class="p">()</span> <span class="c"># Calling from the command line invokes all tests</span>
</pre></div>
</div>
</div>
<div class="section" id="batteries-included">
<span id="tut-batteries-included"></span><h2><font id="55">{{s.55}}</font></h2>
<p><font id="37">{{s.37}}</font><font id="38">{{s.38}}</font><font id="39">{{s.39}}</font></p>
<ul class="simple">
<li><font id="74">{{s.74}}</font><font id="75">{{s.75}}</font></li>
<li><font id="76">{{s.76}}</font><font id="77">{{s.77}}</font></li>
<li><font id="78">{{s.78}}</font><font id="79">{{s.79}}</font><font id="80">{{s.80}}</font></li>
<li><font id="81">{{s.81}}</font></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="sphinxsidebar">
<div class="sphinxsidebarwrapper">
<!-- <h3><font id="57">{{s.57}}</font></h3> -->
<ul>
<li><font id="107">{{s.107}}</font><ul>
<li><font id="82">{{s.82}}</font></li>
<li><font id="83">{{s.83}}</font></li>
<li><font id="84">{{s.84}}</font></li>
<li><font id="85">{{s.85}}</font></li>
<li><font id="86">{{s.86}}</font></li>
<li><font id="87">{{s.87}}</font></li>
<li><font id="88">{{s.88}}</font></li>
<li><font id="89">{{s.89}}</font></li>
<li><font id="90">{{s.90}}</font></li>
<li><font id="91">{{s.91}}</font></li>
<li><font id="92">{{s.92}}</font></li>
<li><font id="93">{{s.93}}</font></li>
</ul>
</li>
</ul>
<h4><font id="61">{{s.61}}</font></h4>
<p class="topless"><font id="40">{{s.40}}</font></p>
<h4><font id="62">{{s.62}}</font></h4>
<p class="topless"><font id="41">{{s.41}}</font></p>
<h3><font id="58">{{s.58}}</font></h3>
<ul class="this-page-menu">
<li><font id="94">{{s.94}}</font></li>
<li><font id="95">{{s.95}}</font></li>
</ul>
<div id="searchbox" style="display: none">
<h3><font id="59">{{s.59}}</font></h3>
<form action="../search.html" class="search" method="get">
<input name="q" type="text"/>
<input type="submit" value="Go"/>
<input name="check_keywords" type="hidden" value="yes"/>
<input name="area" type="hidden" value="default"/>
</form>
<p class="searchtip" style="font-size: 90%"><font id="42">{{s.42}}</font></p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
</div>
</div>
<div class="clearer"></div>
</div>
<div class="related">
<h3><font id="60">{{s.60}}</font></h3>
<ul>
<li class="right" style="margin-right: 10px"><font id="96">{{s.96}}</font></li>
<li class="right"><font id="97">{{s.97}}</font></li>
<li class="right"><font id="98">{{s.98}}</font></li>
<li class="right"><font id="99">{{s.99}}</font></li>
<li><font id="100">{{s.100}}</font></li>
<li><font id="101">{{s.101}}</font><font id="102">{{s.102}}</font></li>
<li><font id="103">{{s.103}}</font><font id="104">{{s.104}}</font></li>
<li><font id="105">{{s.105}}</font><font id="106">{{s.106}}</font></li>
</ul>
</div>

<div id="disqus_thread"></div><br>

<div class="footer">
    © <a href="../copyright.html">Copyright</a> 1990-2014, Python Software Foundation.
    <br/>
    The Python Software Foundation is a non-profit corporation.
    <a href="http://www.python.org/psf/donations/">Please donate.</a>
<br/>
    Last updated on Aug 08, 2014.
    <a href="../bugs.html">Found a bug</a>?
    <br/>
    Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.2.2.
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'thepythontutorial3'; // required: replace example with your forum shortname
    var disqus_identifier = '/python3/tutorial/stdlib';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<link href="../_static/ms_translator.css" rel="stylesheet" type="text/css"/>
<script src="../_static/ms_translator.js" type="text/javascript"></script>
{% include "python_278/ms_translator.html" %}
</body>
</html>