
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>12. 现在怎么办? — Python v2.7.8 中文文档</title>
<link href="../_static/default.css" rel="stylesheet" type="text/css"/>
<link href="../_static/pygments.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.7.8',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
<script src="../_static/jquery.js" type="text/javascript"></script>
<script src="../_static/underscore.js" type="text/javascript"></script>
<script src="../_static/doctools.js" type="text/javascript"></script>
<script src="../_static/sidebar.js" type="text/javascript"></script>
<link href="../_static/opensearch.xml" rel="search" title="Search within Python v2.7.8 documentation" type="application/opensearchdescription+xml"/>
<link href="../about.html" rel="author" title="About these documents"/>
<link href="../copyright.html" rel="copyright" title="Copyright"/>
<link href="../index.html" rel="top" title="Python v2.7.8 documentation"/>
<link href="index.html" rel="up" title="The Python Tutorial"/>
<link href="interactive.html" rel="next" title="13. Interactive Input Editing and History Substitution"/>
<link href="stdlib2.html" rel="prev" title="11. Brief Tour of the Standard Library – Part II"/>
<link href="../_static/py.png" rel="shortcut icon" type="image/png"/>
<script src="../_static/copybutton.js" type="text/javascript"></script>
<script src="../_static/version_switch.js" type="text/javascript"></script>
</head>
<body>
<div class="related">
<h3><font id="26">{{s.26}}</font></h3>
<ul>
<li class="right" style="margin-right: 10px"><font id="32">{{s.32}}</font></li>
<li class="right"><font id="33">{{s.33}}</font></li>
<li class="right"><font id="34">{{s.34}}</font></li>
<li class="right"><font id="35">{{s.35}}</font></li>
<li class="right">
<a href="#" onClick="hideOriginTexts();return false;">中文</a> |</li>
<li class="right">
<a href="#" onClick="showOriginTexts();return false;">中英文对照</a> |</li>
<li><font id="36">{{s.36}}</font></li>
<li><font id="37">{{s.37}}</font><font id="38">{{s.38}}</font></li>
<li><font id="39">{{s.39}}</font><font id="40">{{s.40}}</font></li>
<li><font id="41">{{s.41}}</font><font id="42">{{s.42}}</font></li>
</ul>
</div>
<div class="document">
<div class="documentwrapper">
<div class="bodywrapper">
<div class="body">
<div class="section" id="what-now">
<span id="tut-whatnow"></span><h1><font id="24">{{s.24}}</font><font id="25">{{s.25}}</font></h1>
<p><font id="1">{{s.1}}</font><font id="2">{{s.2}}</font></p>
<p><font id="3">{{s.3}}</font><font id="4">{{s.4}}</font></p>
<ul>
<li><p class="first"><font id="5">{{s.5}}</font></p> <p><font id="6">{{s.6}}</font><font id="7">{{s.7}}</font><font id="8">{{s.8}}</font><font id="9">{{s.9}}</font></p></li>
<li><p class="first"><font id="10">{{s.10}}</font></p></li>
<li><p class="first"><font id="11">{{s.11}}</font><font id="12">{{s.12}}</font></p></li>
</ul>
<p><font id="13">{{s.13}}</font></p>
<ul class="simple">
<li><font id="46">{{s.46}}</font><font id="47">{{s.47}}</font><font id="48">{{s.48}}</font><font id="49">{{s.49}}</font></li>
<li><font id="50">{{s.50}}</font></li>
<li><font id="51">{{s.51}}</font><font id="52">{{s.52}}</font></li>
<li><font id="53">{{s.53}}</font><font id="54">{{s.54}}</font></li>
</ul>
<p><font id="14">{{s.14}}</font><font id="15">{{s.15}}</font><font id="16">{{s.16}}</font><font id="17">{{s.17}}</font><font id="18">{{s.18}}</font><font id="19">{{s.19}}</font><font id="20">{{s.20}}</font></p>
</div>
</div>
</div>
</div>
<div class="sphinxsidebar">
<div class="sphinxsidebarwrapper">
<h4><font id="30">{{s.30}}</font></h4>
<p class="topless"><font id="21">{{s.21}}</font></p>
<h4><font id="31">{{s.31}}</font></h4>
<p class="topless"><font id="22">{{s.22}}</font></p>
<h3><font id="27">{{s.27}}</font></h3>
<ul class="this-page-menu">
<li><a href="#" onClick="showOriginTexts();return false;">中英文对照</a></li>
<li><a href="#" onClick="hideOriginTexts();return false;">中文</a></li>
</ul>
</div>
</div>
<div class="clearer"></div>
</div>
<div class="related">
<h3><font id="29">{{s.29}}</font></h3>
<ul>
<li class="right" style="margin-right: 10px"><font id="57">{{s.57}}</font></li>
<li class="right"><font id="58">{{s.58}}</font></li>
<li class="right"><font id="59">{{s.59}}</font></li>
<li class="right"><font id="60">{{s.60}}</font></li>
<li class="right">
<a href="#" onClick="hideOriginTexts();return false;">中文</a> |</li>
<li class="right">
<a href="#" onClick="showOriginTexts();return false;">中英文对照</a> |</li>
<li><font id="61">{{s.61}}</font></li>
<li><font id="62">{{s.62}}</font><font id="63">{{s.63}}</font></li>
<li><font id="64">{{s.64}}</font><font id="65">{{s.65}}</font></li>
<li><font id="66">{{s.66}}</font><font id="67">{{s.67}}</font></li>
</ul>
</div>

<br><div id="disqus_thread"></div>

<div class="footer">
    © <a href="../copyright.html">Copyright</a> 1990-2014, Python Software Foundation.
    <br/>
    The Python Software Foundation is a non-profit corporation.
    <a href="http://www.python.org/psf/donations/">Please donate.</a>
<br/>
    Last updated on Jun 29, 2014.
    <a href="../bugs.html">Found a bug</a>?
    <br/>
    Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'thepythontutorial2'; // required: replace example with your forum shortname
    var disqus_identifier = '/python2/tutorial/whatnow';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<link href="../_static/ms_translator.css" rel="stylesheet" type="text/css"/>
<script src="../_static/ms_translator.js" type="text/javascript"></script>
{% include "python_278/ms_translator.html" %}
</body>
</html>